@import url("https://use.typekit.net/jvi6yqw.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia%20Sans%20Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto%20Sans&display=swap");




@tailwind base;
@tailwind components;
@tailwind utilities;

title {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 22px;
}

h1 {
  font-family: "Roboto Flex";
}

body {
  font-family: "Roboto Flex";
}

a {
  color: inherit;
  text-decoration: none;
}